body {
    display: flex;
    justify-content: center;
}

#content-frame {
    width: calc(100% - 60px);
}


/* windows-frame */

.window-frame {
    width: fit-content;
}

.window-bar {
    display: flex;
    justify-content: space-between;
}

.window-name {
    font-size: xx-large;
}

.window-check-box {
    padding: 30px;
}

.window-content {
    border-color: black;
    border-style: solid;
    border-width: 1px;

}


/* option-frame */

#window-size {
    width: 100%;
}


/* source-frame */

#source-box {
    width: 100%;
    height: 300px;
}

#apply-button {
    padding: 6px 16px;
}


/* others */

.separator {
    height: 1px;
    background-color: black;
    margin: 30px 0px;
}

.end-frame {
    display: flex;
    justify-content: end;
}